html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: bisque;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__container {
  background: #999999;
  padding: 0px;
  min-width: 300px;
  min-height: 200px;
}

.page__name{
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 0px ;
  border-bottom: black 1px solid;
  text-align: center;
  font-size: 140%;
}
